*{
    margin: 0;
    padding: 0;
} 
body{
    background-color:rgb(29, 27, 27);
}
video{
    position: absolute;
    height: 100vh;
    object-fit: cover;
    width: 100%;
    z-index: -1;
}
.logo{
    display: flex;
    gap: 10px;
}
.logo img {
    height: 40px;
    width: auto;
    display: block;
}
nav{
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 5px 5px;
    padding-top: 15px;
    font-size:small;
    display: flex;
    justify-content: space-between;
    margin:0px 30px 0px 30px;
   animation: color 0.5s both;
   animation-timeline: scroll();
}
@keyframes color {
    from{
background-color: transparent;
    }
    to{
        margin: 0;
background-color: #0a4fbe;
    }    
}
nav ul{
    display: flex;
}
nav ul li{
    font-family: 'poppins';
    list-style: none;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}
nav ul li a {
  color: inherit;
  text-decoration: none; 
}
nav ul li:hover{
    color:black;
    cursor: pointer;
}
.menu img{
    display: none;
    width: 25px;
    align-content: center;
}

.form{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;   /* horizontal center */
    align-items: center; /* vertical center */
    gap: 20px;
    padding-top: 40px;
}
@font-face {
    font-family: 'milker';
    src: url(milker.regular.otf);
}
.form h1{
    font-family: 'milker';
    font-size: x-large;
    font-weight: 500;
    -webkit-text-stroke: 1px white;
    -webkit-text-fill-color: transparent;
}
.form p{
    font-family:'poppins';
    font-weight: 700;
}

form{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 25px;
    border-radius: 20px;
    gap: 10px;
    font-family: 'poppins';
}
form label{
    font-weight: 600;
    font-size: medium;
}
input{
    border: 1px solid rgb(66, 57, 57);
    padding: 5px;
    font-size: medium;
}
textarea{
    padding: 10px;
    font-size: medium;
}

button{
    padding: 5px 10px;
    background-color: #02339e;
    border: none;
    color: white;
    font-size: medium;
    box-shadow: 0px 2px 10px 1px blue;
    cursor: pointer;
}
button:hover{
    background-color: #2360e2;
}
.about{
    display:flex;
    align-items: center;
    font-family: 'poppins';
    justify-content: space-around;
    color: white;
    font-size:small;
}

.about img{
    width: 30vw;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
footer p{
    color: white;
    font-size: x-small;
    font-family:'Times New Roman', Times, serif;
}
h5{
    display: flex;
    gap: 10px;
    align-items: center;
    font-family: 'poppins';background: linear-gradient(to right,#0a4fbe,#23d6c9);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}
h5 img{
    justify-self: center;
    display: flex;
    cursor: pointer;
    width: 3vw;
}
.contact{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 60px;
    padding-bottom: 30px;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'milker';
    font-size: larger;
}
.contact a{
    color: inherit;
  text-decoration: none; 
}
.contact li{
    font-size: small;
    letter-spacing: 1px;

}
.contact h1{
    font-family: 'milker';
}
.contact h4{
    font-size: medium;
    font-family: 'poppins';
}

@media (max-width: 768px) {
    .logo{
        width: 20px;
    }
    .logo img{
        width: 100px;
        object-fit: contain;

    }
    .menu ul{
        display: none;
        flex-direction: column;
        position: fixed;
        inset: 0;
        background-color: rgb(57, 52, 52);
        width: 100vw;
        height: 100vh;
        padding-top: 10vh;
        z-index: 9999;
    }
    .menu ul li{
        font-size: medium;
        padding: 30px;
    }
    .menu ul.active{
        display: flex;
    }
    #ham-menu{
        display: block;
        position: fixed;
        right: 6%;
        cursor: pointer;
        z-index: 11111;
    }
    .logo img {
        height: 35px;
    }
    form{
        margin-top:20px ;
        width: 70vw;
    }
    .form{
        height: 80vh;
        padding-top: 90px;
        text-align: center;
    }
    .contact{
        margin-top:80px;
    }
    .about{
        flex-direction: column;
        text-align: center;
    }
    .about img {
        width: 60vw;
    }
    h5{
        padding-top: 60px;
    }
    h5 img {
        width: 5vw;
    }
}


/* Small Mobile Devices (max-width: 480px) */
@media (max-width: 480px) {

    .menu img{
        display: block;
    }
    
    .about{
        font-size: small;
    }
    footer p {
        font-size: xx-small;
    }

    h5 img {
        width: 9vw;
    }
    .contact{
        display: flex;
        flex-direction: column;
        gap: 30px;
        font-size:medium;
    }
    .contact li{
        font-size: x-small;
    }
}
